/*GENERAL*/
:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
  }

  *{
    margin: 0;
    padding: 0;
    font-family: Roboto;
  }

  body{
    height: 200rem;
  }

  /*STYLE DIVS*/

  .purple-back{
    width: 100%;
    background-color: var(--purple-bg);
    height: 33rem;
  }

  .green-line{
    position: inherit;
    width: 100%;
    background-color: var(--green);
    height: 0.4rem;
    margin-top: 0rem;
  }

  /*NAV-BAR*/

  h1{
    font-family: "Roboto";
    color: white;
    margin-left: 7rem;
    margin-top: 3rem;
  }
  
  .dot{
    color: var(--green);
  }

  .header{
    display: flex;
    flex-direction: row;
    background-color: var(--purple-bg);
    width: 100%;
    height: 8rem;
    position: fixed;
    z-index: 1;
  }

  .sections{
    display: flex;
    flex-direction: row;
    color: var(--white);
    margin-left: 15rem;
    margin-top: 4rem;
  }

  .sections p{
    margin-right: 2rem;
  }

  .green-stripe{
    height: 1rem;
    background-color: var(--green);
    width: 0.15rem;
  }

  .input-div{
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
    margin-top: 3rem;
  }

  .buscar{
    width: 12rem;
    height: 2.3rem;
    background-color: var(--dark-bg);
    border: none;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
   }

   .buscar::placeholder{
    color: var(--white);
    padding-left: 1rem;
   }

   .div-search-icon{
    background-color: var(--button-bg);
    width: 3.4rem;
    height: 2.3rem;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
   }

   .div-search-icon img{
    margin-left: 0.8rem;
    margin-top: 0.4rem;
   }


  