/*GENERAL*/
:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

/*STYLE DIVS*/

.purple-back {
  width: 100%;
  background-color: var(--purple-bg);
  display: flex;
  flex-direction: row;
  padding: 10em 0em 3em 0em;
  justify-content: space-around;
}

.green-line {
  width: 100%;
  background-color: var(--green);
  height: 0.4rem;
}

/*Header*/

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--purple-bg);
  width: 100%;
  position: fixed;
  padding: 3em 1em 1em 1em;
}

#header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#header-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.padding-header-bottom {
  padding: 1em 0em;
}

h1 {
  font-family: "Poppins";
  color: white;
}

h1:hover {
  cursor: pointer;
}

.dot {
  color: var(--green);
}

.sections {
  display: flex;
  flex-direction: row;
  color: var(--white);
}

.sections p {
  color: #e4dddd;
  margin-right: 2em;
}

.sections p:hover {
  cursor: pointer;
  color: #fff;
}

.green-stripe {
  color: var(--green);
}

.input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buscar {
  width: 12rem;
  padding: 0.8em;
  background-color: var(--dark-bg);
  border: none;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.buscar::placeholder {
  color: var(--white);
  padding-left: 1rem;
}

.div-search-icon {
  background-color: var(--button-bg);
  width: 3.4rem;
  height: 2.3rem;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.div-search-icon img {
  margin-left: 0.8rem;
  margin-top: 0.4rem;
}

/*MAIN POST*/
.main-article {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.main-title {
  color: var(--button-bg);
  font-size: 2.3rem;
  font-family: "Poppins";
}

.main-title:hover {
  cursor: pointer;
  color: #c093e0;
}

.main-article p {
  color: var(--white);
  line-height: 1.5rem;
}

.main-img {
  height: 20rem;
  width: 30rem;
}

.see-more {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
}

.see-more img {
  width: 1.3em;
  margin-left: 0.5em;
}

.see-more span {
  color: var(--button-bg);
  font-family: "Poppins";
}

.see-more span:hover {
  cursor: pointer;
  color: #c093e0;
}

/*MIDDLE SECTION*/
.middle-section {
  display: grid;
  grid-template-columns: 0.5fr 25em;
  gap: 9em;
  justify-content: center;
  padding: 2em 0em;
}

.middle-section h2 {
  color: var(--purple-bg);
}

.middle-section h2:hover {
  color: #634479;
  cursor: pointer;
}

.middle-side-posts {
  display: flex;
  flex-direction: column;
}

.middle-side-posts p {
  line-height: 1.5rem;
  margin-top: 1rem;
}

.gray-stripe {
  width: 100%;
  background-color: rgba(190, 183, 183, 0.5);
  height: 0.2em;
  margin-top: 1em;
}

.middle-main-section img {
  width: 35rem;
}

.middle-main-section h2 {
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}

.side-date,
.main-date {
  margin-top: 0.5rem;
}

/*BOTTOM POSTS*/
.bottom-posts {
  display: flex;
  justify-content: center;
  padding: 3em 0em;
  gap: 1.5em;
  margin: 0 1em;
}

.bottom-posts h2 {
  font-family: "Poppins";
  color: var(--purple-bg);
  margin-bottom: 0.5rem;
}

.bottom-posts h2:hover {
  color: #634479;
  cursor: pointer;
}

.bottom-post {
  width: 23rem;
}

.bottom-post p {
  line-height: 1.5rem;
}

.bottom-post img {
  width: 100%;
}

.bottom-date {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
